body {
  background-color: black;
  color: grey;
  font-family: monospace;
}

#message-box {
  font-size: 20px;
}

#hud {
  font-size: 25px;
  font-weight: bold;
  color: magenta;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-50 {
  margin-top: 50px;
}
