body {
  background-color: black;
  color: grey;
  font-family: monospace;
}

#message-box {
  font-size: 20px;
}

#more-break {
  background-color: grey;
  color: black;
  visibility: hidden;
}

#more-break::before, #more-break::after {
  content: "\00a0";
}

#hud {
  font-size: 25px;
  font-weight: bold;
  color: magenta;
}

#hud ul {
  margin: 0;
  padding: 0;
}

#hud li {
  display: inline-block;
}

#hud li:not(:first-child) {
  margin-left: 5px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-50 {
  margin-top: 50px;
}
